<div class="row clearfix">
  <% if todo_item.completed? %>
    <div class="todo_item complete">
      <p style="opacity: 0.4;"><strike><%= todo_item.content %></strike></p>
      <div class="actions">
        <%= button_to "Delete",
                      todo_list_todo_item_path(todo_item.todo_list, todo_item),
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete this item?" },
                      class: "btn btn-danger" %>
      </div>
    </div>
  <% else %>
    <div class="todo_item incomplete">
      <p><%= todo_item.content %></p>
      <div class="actions">
        <%= button_to "Mark as Complete",
                      complete_todo_list_todo_item_path(todo_item.todo_list, todo_item),
                      method: :patch,
                      class: "btn btn-success" %>

        <%= button_to "Delete",
                      todo_list_todo_item_path(todo_item.todo_list, todo_item),
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete this item?" },
                      class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>

